<% provide(:title, @user.name) %>

<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>

</h1>

<div class="ui segment">
  Authentication Token (API): <i><%= @user.auth_token %></i>
</div>

<%= render 'shared/courses_form' %>

<div class="ui relaxed divided list">
  <% if @user.courses.any? %>
    <%= render @courses %>
  <% else %>
    <div class="item">
      <div class="content">
        No courses available. Create one.
      </div>
    </div>
  <% end %>
</div>